<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Thêm sản phẩm mói</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <form action="/insert-product" method="post" class="tm-edit-product-form">
                            <div class="form-group mb-3">
                                <label for="name">Tên sản phẩm
                                </label>
                                <input id="name" name="name" type="text" class="form-control validate" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="price">Giá
                                </label>
                                <input id="price" name="price" type="number" class="form-control validate" data-large-mode="true" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="author">Tác giả
                                </label>
                                <input id="author" name="author" type="text" class="form-control validate" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="description">Thông tin</label>
                                <textarea class="form-control validate tm-small" rows="15" name="info"
                                required></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="publisher">Nhà xuất bản</label>
                                <select name="publisher" class="custom-select tm-select-accounts" id="publisher">
                                    {{#each publisher}}
                                    <option value="{{this.publisherID}}">{{publisher}}</option>
                                    {{/each}}
                                </select>
                            </div>
                             <div class="form-group mb-3">
                                <label for="category">Thể loại</label>
                                <div class="form-group mb-3">
                                    <div class="selectBox" onclick="showCheckboxes()">
                                        <select name="categories" class="custom-select tm-select-accounts">
                                            {{!-- {{#each category}} --}}
                                            <option id="catagories" value=""></option>
                                            {{!-- {{/each}} --}}
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div id="checkboxes">
                                        {{#each category}}
                                        <label for="one">
                                            <input class="catagoriCheckbox" type="checkbox"  onclick="changeStatus()" id="{{this.categoriesID}}" value="{{this.categoriesID}}-{{this.categories}}" />{{this.categories}}
                                        </label>
                                        {{/each}}
                                    </div>
                                </div>
                            </div> 

                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Thêm sản phẩm mới</button>
                        </form>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                        <div class="tm-product-img-dummy mx-auto">
                            <i class="fas fa-cloud-upload-alt tm-upload-icon"
                            onclick="document.getElementById('fileInput').click();"></i>
                        </div>
                        <div class="custom-file mt-3 mb-3">
                            <input id="fileInput" type="file" style="display:none;" />
                            <input type="button" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE"
                            onclick="document.getElementById('fileInput').click();" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $("#expire_date").datepicker();
        });
    </script>