<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-12 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <h2 class="tm-block-title">Danh sách các tài khoản</h2>
        <table class="table table-striped"> 
          <thead>
            <tr>
              <th>Tên&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              <th>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              <th>Số điện thoại&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              <th>Địa chỉ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              <th>Loại&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
              <th scope="col">Xóa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
          </thead>
        </table>
        <div class="tm-product-table-container">
          <table class="table table-striped">
            <tbody>
              {{# each admins}}
              <tr>
                <td class="tm-product-name"><a href="/show-user?id={{this.id}}" style="color:white;">{{this.name}}</a></td>
                <td>{{this.email}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.address}}</td>
                <td>{{this.type}}</td>                                
                <td>
                  <a href="/delete?id={{this.id}}" class="tm-product-delete-link">
                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <br>
        <div class="Pagination">
          <nav aria-label="Page navigation example">
            <ul class="pagination page-number text-center" style="justify-content: center;" id="page-number">
              <!-- <li class="page-item page-previous"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="/employees?page=1">1</a></li>
              <li class="page-item"><a class="page-link" href="/employees?page=2">2</a></li>
              <li class="page-item"><a class="page-link" href="/employees?page=3">3</a></li>
              <li class="page-item page-next"><a class="page-link" href="#">Next</a></li> -->
            </ul>
          </nav>
        </div> 
        <div id="page"></div>
      </div>
    </div>
  </div>
</div>
<!-- https://jquery.com/download/ -->
<script src="js/jquery-3.3.1.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="js/bootstrap.min.js"></script>

<script>
   $(document).ready(function (){
    let numberOfUser = '{{numberOfUser}}';
    let limit = 3;
    // console.log(Math.floor(numberOfUser/limit));
    let maxPage = Math.floor(numberOfUser/limit);
    // console.log(maxPage);
    for(let i = 0; i < maxPage ; i++){
      let j=i+1;
      // console.log(j);
      $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/employees?page="+j+"\">"+ j +"</a></li>");
    }
    // console.log(numberOfUser);
  })
  
</script>
