<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <h2 class="tm-block-title">Danh sách sản phẩm</h2>
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col" class="table-price">Đơn giá</th>
                                <th scope="col">Tác giả</th>
                                <!-- <th scope="col">Số lượng</th> -->
                                <th scope="col">Xóa</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{# each items}}
                            <tr>
                                <td class="tm-product-name"><a href="/edit-product?id={{this.id}}" style="color:white;">{{this.title}}</a></td>
                                <td>{{this.price}}</td>
                                <td>{{this.author}}</td>
                                <td>
                                    <a href="/product-delete?id={{this.id}}" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/ each}}
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="Pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination page-number text-center" style="justify-content: center;" id="page-number"></ul>
                    </nav>
                </div>
                <br>
                <!-- table container -->
                <a href="add-product" class="btn btn-primary btn-block text-uppercase mb-3">Thêm sản phẩm mới</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <h2 class="tm-block-title">Thể loại</h2>
                <table class = "table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Mã thể loại&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th scope="col">Tên thể loại&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <!-- <th scope="col">Số lượng</th> -->
                            <th scope="col">Chỉnh sửa</th>
                            <th scope="col">Xóa</th>
                        </tr>
                    </thead>
                </table>
                <div class="tm-product-table-container1">
                    <table class="table tm-table-small tm-product-table table-striped">
                        <tbody>

                            {{# each categories}}
                            <tr>
                                <form action="/edit-category?id={{this.id}}" method = "POST">
                                    <td class="form-group tm-categories-name"><input type="text" class="form-control" name="code" value = "{{this.categoriesID}}"></td>
                                    <td class="form-group tm-categories-name"><input type="text" class="form-control" name="name" value = "{{this.categories}}"></td>
                                    <td class="text-center">
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-edit tm-product-delete-icon"></i></button>
                                        <!-- <i class="fas fa-edit tm-product-delete-link tm-product-delete-icon"></i> -->
                                    </td>
                                </form>
                                <td class="text-center">
                                    <a href="/category-delete?id={{this.id}}" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/ each}}
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <form action="/insert-category" method = "POST">
                    <div class="row">
                        <!-- <h2>Thêm danh mục</h2> -->
                        <div class="form-group col-lg-6">
                            <label for="code">Mã thể loại</label>
                            <input type="text" class="form-control" name="code">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="code">Tên thể loại</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary text-uppercase btn-block">Thêm thể loại mới</button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <h2 class="tm-block-title">Nhà xuất bản</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Mã NXB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <th scope="col">Tên NXB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                            <!-- <th scope="col">Số lượng</th> -->
                            <th scope="col">Chỉnh sửa</th>
                            <th scope="col">Xóa</th>
                        </tr>
                    </thead>
                </table>
                <div class="tm-product-table-container1">
                    <table class="table tm-table-small tm-product-table table-striped">
                        <tbody>

                            {{# each publish}}
                            <tr>
                                <form action="/edit-publisher?id={{this.id}}" method = "POST">
                                    <!-- <th scope="row"><input type="checkbox" /></th> -->
                                    <td class="form-group tm-categories-name"><input type="text" class="form-control" name="code" value = "{{this.publisherID}}"></td>
                                    <td class="form-group tm-categories-name"><input type="text" class="form-control" name="name" value = "{{this.publisher}}"></td>
                                    <td class="text-center">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-edit tm-product-delete-icon"></i>
                                        </button>
                                    </td>
                                </form>
                                <td class="text-center">
                                    <a href="/publisher-delete?id={{this.id}}" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/ each}}
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <form action="/insert-publisher" method = "POST">
                    <div class="row">
                        <!-- <h2>Thêm thể loại</h2> -->
                        <div class="form-group col-lg-6">
                            <label for="code">Mã nhà sản xuất</label>
                            <input type="text" class="form-control" name="code">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="code">Tên nhà sản xuất</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary text-uppercase btn-block">Thêm nhà sản xuất mới</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->

<script>
  $(document).ready(function (){
    //string numberOfUser, pageNow
    let numberOfUser = '{{numberOfUser}}';
    let pageNow = '{{page}}';
    //int limit, maxPage, pageLimit
    let limit = 6;
    let maxPage = Math.ceil(numberOfUser/limit);
    let pageLimit = 3;
    if (1 < pageNow && pageNow < maxPage) {
      console.log('<>');
      //nếu 1 < pageNow < maxPage thì << + số trang + >>  
      // $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/products?page="+ --pageNow +"\">&lt;&lt;</a></li>");
      //trang đầu
      $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/products?page=1\">&lt;&lt;</a></li>");

      //chuyển pageNow về int
      pageNow--;
      pageNow++;
      for(let i = pageNow-2; i < pageNow+1; i++){
        let j=i+1;
        if (j === pageNow) {
          $('#page-number').append("<li class='page-item'><a class='page-link page-active' href=\"/products?page="+j+"\">"+ j +"</a></li>");
        } else {
          $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/products?page="+j+"\">"+ j +"</a></li>");
        }
      }
      if (pageNow < maxPage) {
        $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/products?page="+ maxPage +"\">&gt;&gt;</a></li>");
      }
      pageNow--;
    } else if (pageNow == maxPage) {
      console.log('==');

      //nếu pageNow là trang trang cuối thì << + số trang cuối -2, -1, trang cuối
      $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/products?page=1\">&lt;&lt;</a></li>");
      pageNow--;
      $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/products?page="+ --pageNow+"\">"+ pageNow +"</a></li>");
      $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/products?page="+ ++pageNow+"\">"+ pageNow +"</a></li>");
      $('#page-number').append("<li class='page-item'><a class='page-link page-active' href=\"/products?page="+ ++pageNow+"\">"+ pageNow +"</a></li>");
    } else {
      //nếu là trang đầu tiên thì số trang + trang cuối
      console.log('=1');

      //nếu pageNow = 1 thì số trang + >>  
      for(let i = 0; i < pageLimit ; i++){
        let j=i+1;
        if (j == pageNow) {
          $('#page-number').append("<li class='page-item'><a class='page-link page-active' href=\"/products?page="+j+"\">"+ j +"</a></li>");
        } else {
          $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/products?page="+j+"\">"+ j +"</a></li>");
        }
      }
      $('#page-number').append("<li class='page-item'><a class='page-link' href=\"/products?page="+ maxPage +"\">&gt;&gt;</a></li>");
      pageNow--;
    }
  })

</script>
